/*
* GENERAL
*/
@font-face 
{
    font-family: roboto;
    src: url("roboto.ttf") format('truetype');
}


*:not(input):not(textarea)
{
    margin: 0;
    padding: 0;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

html
{
    font-family: roboto;
    font-size: 13.5px;
}

body
{    
    background: url("../images/bg/bg_red.png");
    background-size: cover;
    
    overflow: hidden;
}


/*
* HEADER
*/

header
{
    position: absolute;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    
    background: #505050 url("../images/logo.svg") no-repeat 1%;
    background: rgba(0, 0, 0, 0.6) url("../images/logo.svg") no-repeat 1%;
}

header #apps
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 6%;
    max-width: 60%;
    height: 100%;
}

header #apps p
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    width: 7vh;
    
    cursor: pointer;
}

header #apps .open
{
    background-color: #e0ffe0;
    background-color: rgba(127, 255, 161, 0.2);
}
header #apps .reduce
{
    background-color: rgb(227, 238, 255);
    background-color: rgba(127, 176, 255, 0.2); 
}

header #apps p:hover
{
    background-color: #fff4df;
    background-color: rgba(255, 108, 0, 0.2);
}

header #apps p img
{
    height: 3vh;
}

header #rightArea
{
    display: table;
    
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 25%;
}

header #rightArea p
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    cursor: pointer;
    
    color: white;
    
    width: 14vh;
}

header #rightArea .selected
{
    background-color: rgb(207, 251, 255);
    background-color: rgba(0, 235, 255, 0.2);
    color: #00b1ff;
}

header #rightArea p:hover
{
    background-color: #fff2d9;
    background-color: rgba(255, 108, 0, 0.2);
    color: orange;
}

header #rightArea p img
{
    height: 3vh;
}