@font-face 
{
    font-family: roboto;
    src: url("roboto.ttf") format('truetype');
}

@keyframes orbit 
{
    from { transform: rotate(0deg) translateX(19.5vh) rotate(0deg); opacity: 1; }
    to   { transform: rotate(360deg) translateX(19.5vh) rotate(-360deg);opacity: 1; }
}

html
{
    font-family: roboto;
    font-size: 14px;
}

body
{
    background: url("../images/bg/bg_red.png");
    background-size: cover;
    
    overflow: hidden;
}

header
{
    z-index: 2;
    
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
}

header p
{
    padding-left: 1vw;
    
    display: table-cell;
    vertical-align: middle;
    
    color: white;
    
    font-size: 3vh;
    
    width: 50%;
}

header p .register
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 4vh;
    width: 8vw;
    
    border-radius: 3px;
    border: 1px solid #FF4500;
    
    color: #FF4500;
    background-color: transparent;
    
    cursor: pointer;
    
    font-size: 1.7vh;
}
header p .register:hover
{
    background-color: #FF4500;
    color: white;
}

header p .connect
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 4vh;
    width: 8vw;
    
    border-radius: 3px;
    border: 1px solid white;
    
    color: white;
    background-color: transparent;
    
    cursor: pointer;
    
    font-size: 1.7vh;
}
header p .connect:hover
{
    background-color: white;
    color: black;
}

header p b
{
    color: #FF4500;
    
    font-weight: normal;
}

section
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.6);
}

section #organization
{
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
}

section #organization .logo
{
    position: absolute;
    top: calc(50% - 10vh);
    left: calc(50% - 10vh);
    height: 20vh;
    width: 20vh;
}

section #organization .object
{
    position: absolute;
    top: calc(50% - 2.5vh);
    left: calc(50% - 2.5vh);
    height: 5vh;
    width: 5vh;
    
    animation: orbit 8s linear infinite;
    
    opacity: 0;
}

/* Orbites */
section #organization .object.orbit_1
{
    animation-delay: 0s;
}

section #organization .object.orbit_2
{
    animation-delay: 1s;
}

section #organization .object.orbit_3
{
    animation-delay: 2s;
}

section #organization .object.orbit_4
{
    animation-delay: 3s;
}

section #organization .object.orbit_5
{
    animation-delay: 4s;
}

section #organization .object.orbit_6
{
    animation-delay: 5s;
}

section #organization .object.orbit_7
{
    animation-delay: 6s;
}

section #organization .object.orbit_8
{
    animation-delay: 7s;
}

section #slogan
{
    display: table;
    
    position: absolute;
    top: 60%;
    left: 0;
    height: 15%;
    width: 100%;
}

section #slogan p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    color: white;
    
    font-size: 3vh;
}

section #applications
{
    display: table;
    
    position: absolute;
    top: 75%;
    left: 0;
    height: 25%;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.15);
}

section #applications p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

section #applications p img
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 6vh;
    width: 6vh;
    
    padding: 1vh;
    
    border: 2px solid #ffffff;
    border-radius: 6vh;
    
    cursor: pointer;
}
section #applications p img:hover
{
    border: 2px solid #baeeff;
    
    background-color: rgba(186, 238, 255, 0.3); 
}