#desktop
{
    position: absolute;
    top: 7%;
    left: 0;
    height: 93%;
    width: 100%;
}

div.window
{
    background-color: white;
    
    border-radius: 3px;
}

/* Blue */
div.window.blue div.load { background-color:  #3f51b5; }
div.window.blue div.title {background-color:  #3f51b5;}

/* Red */
div.window.red div.load { background-color:  #f44336; }
div.window.red div.title {background-color: #f44336;}

/* Green */
div.window.green div.load { background-color:  #009688; }
div.window.green div.title {background-color:  #009688;}

/* Orange */
div.window.orange div.load { background-color: #ff9800; }
div.window.orange div.title {background-color: #ff9800;}

/* Black */
div.window.black div.load { background-color:  #607d8b; }
div.window.black div.title {background-color:  #607d8b;}

/* Purple */
div.window.purple div.load { background-color:  #673ab7; }
div.window.purple div.title {background-color:  #673ab7;}

div.window div.load
{
    display: table;
    
    z-index: 95;
    
    position: absolute;
    left: 0;
    width: 100%;
    
    border-radius: 2px;
    
    border-top: 1px solid #bfbfbf;
}

div.window div.load p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

div.window div.load p img:not(.img_loader)
{
    height: 25vh;
}

div.window div.title
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    border-bottom: 1px solid #bfbfbf;
    
    color: #dedede;
    
    font-size: 1.8vh;
}

div.window div.title p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

div.window div.title .title_icon { width: 10%; }
div.window div.title .title_name { width: 80%; }
div.window div.title .title_actions { width: 10%; }

div.window div.title p.title_actions img 
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 3vh; 
    cursor: pointer;
}

div.window div.title p.title_actions img:hover { background-color: #717171;border-radius: 3vh; }

div.window .content
{
	position: absolute;
	left: 0;
	width: 100%;
    
    overflow: hidden;
}