#app_pdf #pdf_viewer
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background-color: #ededed;
}

#app_pdf #loader_area
{
    display: none;
    
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
}

#app_pdf #loader_area p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_pdf #loader_area p img
{
    height: 100%;
    width: auto;
}