/*
    Application     : Explorateur de fichiers
    Type            : Design de l'application (CSS)
    Version         : 1.0.0
    Auteur          : Romain Claveau
    Native          : Oui
*/

/* Barre de navigation */
#app_explorer #navBar
{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    
    background: #ebebeb;
    
    border-top: 1px solid #bfbfbf;
}

#app_explorer #navBar #path
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 80%;
}

#app_explorer #navBar #path p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_explorer #navBar #path p.directory
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    width: 10vw;
    
    cursor: pointer;
}
#app_explorer #navBar #path p.directory:hover
{
    color: orange;
    background: #e6e6e6;
}

#app_explorer #navBar #path .separator
{
    width: 3vw;
    
    font-weight: bold;
    
    text-shadow: 1px 1px 1px black;
}

#app_explorer #navBar #defaultActions
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 80%;
    height: 100%;
    width: 20%;
    
    border-left: 1px solid #bfbfbf;
}

#app_explorer #navBar #defaultActions p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_explorer #navBar #defaultActions p img
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 3.5vh;
    
    cursor: pointer;
}

#app_explorer #navBar #defaultActions p img:hover
{
    background-color: #e4e4ff;
    background-color: rgba(0, 147, 255, 0.2);
    
    border-radius: 3px;
}

#app_explorer #navBar #defaultActions p img:not(:first-child)
{
    margin-left: 1vw;
}


/* Liste des fichiers et des dossiers */
#app_explorer #listArea
{
    position: absolute;
    top: 10%;
    left: 0;
    height: 90%;
    width: 100%;
    
    overflow: auto;
}

#app_explorer #listArea #list
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

#app_explorer #listArea #list div.line
{
    display: table-row;
    
    text-align: center;
    
    height: 16.66vh;
}

#app_explorer #listArea #list div.line div.element
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    width: 15vw;
    
    cursor: pointer;
}

#app_explorer #listArea #list div.line .selected
{    
    color: #d98d00;
    
    font-weight: bold;
}

#app_explorer #listArea #list div.line div.element p
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    opacity: 0;
}

#app_explorer #listArea #list div.line div.element img:not(.action)
{
    height: 5vh;
    
    padding: 2vh calc(50% - 2.5vh) 2vh calc(50% - 2.5vh);
}

#app_explorer #listArea #list div.line div.element div
{        
    width: 100%;
}

#app_explorer #listArea #list div.line div.element img.action
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 1.8vh;
}

#app_explorer #listArea #list div.line div.element img.action:hover
{
    background-color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.1);
    
    border-radius: 2px;
}

#app_explorer #listArea #list div.line div.element:hover
{    
    background-color: #ffa500;
    background-color: rgba(255, 165, 0, 0.15);
    color: #a76c00;
}

#app_explorer #listArea #list div.line div.element:hover p
{
    opacity: 1;
}


/* Zone de chargement */
#loaderArea
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
    width: 5vh;
    
    opacity: 0;
}

#loaderArea img
{
    height: 4vh;
}

#loaderArea.show
{
    opacity: 1;
}


/* Bandeau d'actions lors de la sélection */
#bandActions
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 30%;
    
    border-top-right-radius: 10px;
    
    background-color: #ebebeb;
}

#bandActions .firstLine
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

#bandActions .secondLine
{
    display: table;
    
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
}

#bandActions span p
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#bandActions span p.action:hover
{
    background-color: #fff6e4;
    background-color: rgba(255, 165, 0, 0.2);
}

#bandActions span p img
{    
    height: 2.5vh;
}

#bandActions span .action:hover
{
    background-color: #fff5e3;
    background-color: rgba(255, 165, 0, 0.2);
    
    border-radius: 3px;
    
    cursor: pointer;
}


/* Popup permettant la visualisation d'informations sur un élément */
#infos_popup
{
    display: none;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background-color: rgb(10, 10, 10);
    background-color: rgba(0, 0, 0, 0.8);
}

#infos_popup .cross_close
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    z-index: 2;
    
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 5vh;
    width: 5vh;
    
    cursor: pointer
}
#infos_popup .cross_close:hover
{
    height: 7vh;
    width: 7vh;
}

#infos_popup #content_infos_popup
{
    position: absolute;
    top: 5%;
    left: 30%;
    height: 90%;
    width: 40%;
    
    background-color: white;
    
    border-radius: 3px;
}

#infos_popup #content_infos_popup .header_infos
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    
    border-bottom: 1px dotted rgb(200, 200, 200);
}

#infos_popup #content_infos_popup .header_infos p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    color: rgb(50, 50, 50);
    
    font-size: 24px;
}

#infos_popup #content_infos_popup .header_infos p img
{
    height: 10vh;
    
    border: 5px solid rgb(50, 50, 50);
    
    padding: 2vh;
    
    border-radius: 10vh;
}

#infos_popup #content_infos_popup .content_infos
{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 40%;
    
    overflow: auto;
}