header
{
    background-color: rgba(0, 0, 0, .3);
}

section
{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #fbf8ff;
}

section table
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

section table tr
{
    text-align: center;

    width: 33.33%;
}

section table .title
{
    height: 15%;

    color: #FF4500;
}

section table .title
{
    height: 10%;
}

section table .text
{
    height: 25%;

    vertical-align: top;
}

section table .text td
{
    padding-left: 5vw;
    padding-right: 5vw;

    text-align: justify;
}

section table tr td
{
    width: 25%;
}

section table tr td img
{
    height: 8vh;
}