@font-face 
{
    font-family: roboto;
    src: url("../roboto.ttf") format('truetype');
}

@keyframes orbit 
{
    from { transform: rotate(0deg) translateX(25vh) rotate(0deg); opacity: 1; }
    to   { transform: rotate(360deg) translateX(25vh) rotate(-360deg);opacity: 1; }
}

html
{
    font-family: roboto;
    font-size: 1em;
}

body
{
    background: url("../../images/bg/bg_purple.png");
    
    overflow: hidden;
}

a
{
    display: inline-block;
    
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    width: 13%;
    
    text-decoration: none;
    color: white;
    
    cursor: pointer;

    text-align: center;
}
a.selected
{
    color: #0089ff;
    font-weight: bold;
}
a:hover
{
    color: #FF4500;
}

header
{
    z-index: 2;
    
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
}

header p
{
    padding-left: 1vw;
    
    display: table-cell;
    vertical-align: middle;
    
    color: white;
    
    font-size: 5vh;
    
    width: 50%;
}

header p .register
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 4vh;
    width: 8vw;
    
    border-radius: 3px;
    border: 1px solid #FF4500;
    
    color: #FF4500;
    background-color: transparent;
    
    cursor: pointer;
    
    font-size: 1.7vh;
}
header p .register:hover
{
    background-color: #FF4500;
    color: white;
}

header p .connect
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    height: 4vh;
    width: 8vw;
    
    border-radius: 3px;
    border: 1px solid white;
    
    color: white;
    background-color: transparent;
    
    cursor: pointer;
    
    font-size: 1.7vh;
}
header p .connect:hover
{
    background-color: white;
    color: black;
}

header p b
{
    color: #FF4500;
    
    font-weight: normal;
}

section
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.3);
}