/*
	Application     : Editeur de textes et de documents
	Type            : Design de l'application (CSS)
	Version         : 1.0.0
	Auteur          : Romain Claveau
	Native          : Oui
*/

/*
* Commun
*/

/* Barre de navigation */
#app_document #navBar
{
	position: absolute;
	top: 0;
	left: 0;
	height: 20%;
	width: 100%;
	
	background-color: rgb(240, 240, 240);
	color: black;
}

#app_document #navBar #tabs
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 20%;
    
    background-color: rgb(177, 177, 177);
    
    border-bottom: 1px solid rgb(193, 193, 193);
    
    border-bottom-right-radius: 3px;
}

#app_document #navBar img
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    cursor: pointer;
}
#app_document #navBar img:hover
{
    border-radius: 3px;
    
    background-color: rgba(255, 118, 0, 0.15);
}

#app_document #navBar #tabs .tab
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    
    width: 10vw;
    
    text-align: center;
    
    cursor: pointer;
}

#app_document #navBar #tabs .selected
{
    background-color: rgb(240, 240, 240);
}

#app_document #navBar #tabs .tab:hover
{
    color: rgb(0, 156, 214);
}

#app_document #navBar #titlesTabs
{
    position: absolute;
    top: 85%;
    left: 0;
    height: 15%;
    width: 100%;
    
    font-size: 0.7vw;
}

#app_document #navBar #titlesTabs .titlesTab
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
}

#app_document #navBar #titlesTabs .titlesTab .part
{
    display: table-cell;
    
    vertical-align: middle;
    
    text-align: center;
}

#app_document #navBar #contentTabs
{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 55%;
}

#app_document #navBar #contentTabs .contentTab
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
}

#app_document #navBar #contentTabs .contentTab .part
{
    display: table-cell;
    
    vertical-align: middle;
    
    text-align: center;
}

#app_document #navBar #contentTabs .contentTab .part.show
{
    font-size: 11px;
}

#app_document #navBar #contentTabs .contentTab .part.current
{
    color: rgba(0, 98, 255, 1);
}

#app_document #navBar #contentTabs .contentTab img
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    border-radius: 3px;
    
    padding: 2px;
}

#app_document #navBar #contentTabs .contentTab .selected
{
    background-color: rgba(255, 0, 0, 0.15);
}

#app_document #navBar #contentTabs .preformatedText
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
    
    overflow: hidden;
    
    user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    
    text-align: center;
    
    cursor: pointer;
    
    padding-right: 5px;
}
#app_document #navBar #contentTabs .preformatedText:hover
{
    border: 1px solid #006cff;
}

/* Reste de l'application (contiendra le contenu du document) */
#app_document #content
{
	position: absolute;
	top: 20%;
	left: 0;
	height: 80%;
	width: 100%;
	
	background-color: rgb(200, 200, 200);
	
	overflow: auto;
    
    border-top: 1px solid rgba(0, 157, 255, 0.24);
}

#app_document #loaderArea
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
	position: absolute;
	height: 2vw;
	width: 2vw;
    
    opacity: 1;
}

#app_document #loaderArea img
{
	height: 100%;
	width: 100%;
}

#app_document #loaderArea.loaderHide
{
    opacity: 0;
}

#app_document #quickAccess
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: table;
    
    position: absolute;
    bottom: 1vw;
    right: 2vw;
    height: 3vw;
    width: 3vw;
    
    border-radius: 3vw;
    
    box-shadow: 1px 1px 1px rgb(50, 50, 50);
    
    background-color: #bcbcbc;
    
    cursor: pointer;
}
#app_document #quickAccess:hover
{
    color: rgb(0, 156, 214);
    box-shadow: 1px 1px 1px rgb(0, 156, 214);
}

#app_document #quickAccess span
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_document #quickAccess_popup
{
    position: absolute;
    top: 25%;
    right: 3%;
    width: 14%;
    height: 63%;
    
    background-color: rgb(240, 240, 240);
    
    border-radius: 3px;
}

#app_document #quickAccess_popup .arrow
{
    position: absolute;
    bottom: -1.8vh;
    right: 0;
    height: 3vh;
}

#app_document #quickAccess_popup .head
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    background-color: rgb(177, 177, 177);
}

#app_document #quickAccess_popup .head span
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_document #quickAccess_popup .body
{
    display: table;
    
    position: absolute;
    top: 15%;
    left: 0;
    max-height: 85%;
    width: 100%;
}

#app_document #quickAccess_popup .body span
{
    display: table-row;
    
    height: 4vh;
}

#app_document #quickAccess_popup .body .title p
{
    font-size: 16px;
    
    text-align: left;
    
    padding-left: 1vw;
}

#app_document #quickAccess_popup .body .actions p
{
    text-align: center;
}

#app_document #quickAccess_popup .body span p
{
    display: table-cell;
    vertical-align: middle;
}

#app_document #quickAccess_popup .body span p img
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    border-radius: 3px;
    
    height: 2.2vh;
    
    cursor: pointer;
}

#app_document #quickAccess_popup .body span p .selected
{
    background-color: rgba(255, 0, 0, 0.15);
}

#app_document #quickAccess_popup .body span p img:hover
{
    background-color: rgba(0, 196, 255, 0.2);
}

#app_document #content .page
{
    position: relative;
    left: 20%;
    max-height: 200%;
    height: 200%;
    width: 60%;
    
    background-color: white;
    
    border: none;
    
    border-top: 3vh solid rgb(200, 200, 200);
	border-bottom: 3vh solid rgb(200, 200, 200);
    
    padding: 1vw;
    
    user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    -moz-user-select: text;
    
    overflow: hidden;
}

#app_document #popup img.arrow
{
    width: 5vw;
    
    position: absolute;
    top: -5.2vh;
    left: 2.5vw;
}

#app_document #popup .content
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    border-radius: 3px;
}

#app_document #popup .content .line
{
    display: table-row;
    
    height: 5vh;
}

#app_document #popup .content .line div
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    width: 2vw;
    
    border-radius: 3px;
}
#app_document #popup .content .line div:hover
{
    background-color: rgba(0, 59, 255, 0.41);
}

#app_document #popup .content .line div .block
{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    
    display: inline-block;
    
    text-align: center;
    
    height: 1.8em;
    width: 1.8em;
    
    border-radius: 3px;
    
    background-color: black;
    
    cursor: pointer;
}

#app_document #tree
{
    position: absolute;
    top: 25%;
    left: 3%;
    width: 14%;
    height: 30%;
    
    border-radius: 3px;
    
    background-color: rgb(240, 240, 240);
}

#app_document #tree .head
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    
    background-color: rgb(177, 177, 177);
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#app_document #tree .head span
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_document #tree .body
{
    position: absolute;
    top: 15%;
    left: 0;
    height: 85%;
    width: 100%;
    
    overflow: auto;
}

#app_document #tree .body .titles
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#app_document #tree .body .titles span
{
    display: table-row;
    
    height: 5vh;
}

#app_document #tree .body .titles span p
{
    display: table-cell;
    vertical-align: middle;
}

#app_document #tree .body .titles span p.title_1 {padding-left: 1vw;}
#app_document #tree .body .titles span p.title_2 {padding-left: 2vw;}
#app_document #tree .body .titles span p.title_3 {padding-left: 3vw;}
#app_document #tree .body .titles span p.title_4 {padding-left: 4.3vw;}

#app_document #references
{
    position: absolute;
    top: 65%;
    left: 3%;
    width: 14%;
    height: 30%;
    
    border-radius: 3px;
    
    background-color: rgb(240, 240, 240);
}

#app_document #references .head
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    background-color: rgb(177, 177, 177);
}

#app_document #references .head span
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_document #references .body
{
    position: absolute;
    top: 15%;
    left: 0;
    height: 85%;
    width: 100%;
    
    overflow: auto;
}

#app_document #references .body .references
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#app_document #references .body .references span
{
    display: table-row;
    
    height: 5vh;
}

#app_document #references .body .references span p
{
    display: table-cell;
    vertical-align: middle;
    
    padding-left: 1vw;
}

#app_document #messages
{
    display: table;
    
    position: absolute;
    bottom: 1vh;
    right: 6vw;
    width: 10vw;
    height: 3vh;
}

#app_document #messages p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}


/*
* Disposition (1)
*/

#app_document.dispo_1 #navBar img
{
    height: 2.5vh;
}

#app_document.dispo_1 #navBar #contentTabs .input
{
    border: none;
    border-radius: 3px;
    
    height: 2.5vh;
}

#app_document.dispo_1 #navBar #contentTabs .preformatedText
{
    height: 7vh;
    width: 4.5vw;
}

#app_document.dispo_1 #quickAccess
{
    font-size: 2vw;
}

#app_document.dispo_1 #popup
{
    display: none;
    
    position: absolute;
    top: 17.2vh;
    height: 25vh;
    width: 10vw;
    
    background-color: grey;
    
    border-radius: 3px;
    
    opacity: .9;
    
    box-shadow: 0 0 2px grey;
}

#app_document.dispo_1 .pos_edit_highlight{ left: 32vw; }
#app_document.dispo_1 .pos_edit_color{ left: 35vw; }

#app_document.dispo_1 #loaderArea
{
	bottom: 1vw;
	left: 1vw;
}


/*
* Disposition (2_v)
*/
#app_document.dispo_2_v #navBar img
{
    height: 1.7vh;
}

#app_document.dispo_2_v #navBar #contentTabs .input
{
    border: none;
    border-radius: 3px;
    
    height: 1.7vh;
}

#app_document.dispo_2_v #navBar #contentTabs .preformatedText
{
    height: 4vh;
    width: 2vw;
    
    transform: scale(0.8, 0.8);
}

#app_document.dispo_2_v #navBar #contentTabs select
{
    max-width: 4vw;
}

#app_document.dispo_2_v #navBar #titlesTabs
{
    display: none;
}

#app_document.dispo_2_v #quickAccess
{
    display: none;
}

#app_document.dispo_2_v #quickAccess_popup
{
    display: none;
}

#app_document.dispo_2_v #popup
{
    display: none;
    
    position: absolute;
    top: 10vh;
    height: 25vh;
    width: 10vw;
    
    background-color: grey;
    
    border-radius: 3px;
    
    opacity: .9;
    
    box-shadow: 0 0 2px grey;
}

#app_document.dispo_2_v .pos_edit_highlight{ left: 16vw; }
#app_document.dispo_2_v .pos_edit_color{ left: 17.5vw; }

#app_document.dispo_2_v #loaderArea
{
	bottom: 1vw;
	right: 1vw;
}


/*
* Disposition (2_h)
*/
#app_document.dispo_2_h #navBar img
{
    height: 2vh;
}

#app_document.dispo_2_h #navBar #contentTabs .input
{
    border: none;
    border-radius: 3px;
    
    height: 1.7vh;
}

#app_document.dispo_2_h #navBar #contentTabs .preformatedText
{
    height: 5vh;
    width: 5vw;
    
    transform: scale(0.8, 0.8);
}

#app_document.dispo_2_h #navBar #contentTabs select
{
    max-width: 4vw;
}

#app_document.dispo_2_h #navBar #titlesTabs
{
    display: none;
}

#app_document.dispo_2_h #quickAccess
{
    display: none;
}

#app_document.dispo_2_h #quickAccess_popup
{
    display: none;
}

#app_document.dispo_2_h #popup
{
    display: none;
    
    position: absolute;
    top: 10vh;
    height: 25vh;
    width: 10vw;
    
    background-color: grey;
    
    border-radius: 3px;
    
    opacity: .9;
    
    box-shadow: 0 0 2px grey;
}

#app_document.dispo_2_h .pos_edit_highlight{ left: 16vw; }
#app_document.dispo_2_h .pos_edit_color{ left: 17.5vw; }

#app_document.dispo_2_h #loaderArea
{
	bottom: 1vw;
	right: 1vw;
}


/*
* Disposition (4)
*/
#app_document.dispo_4 #navBar img
{
    height: 1.7vh;
}

#app_document.dispo_4 #navBar #contentTabs .input
{
    border: none;
    border-radius: 3px;
    
    height: 1.7vh;
}

#app_document.dispo_4 #navBar #contentTabs .preformatedText
{
    height: 4vh;
    width: 2vw;
    
    transform: scale(0.8, 0.8);
}

#app_document.dispo_4 #navBar #contentTabs select
{
    max-width: 4vw;
}

#app_document.dispo_4 #navBar #titlesTabs
{
    display: none;
}

#app_document.dispo_4 #quickAccess
{
    display: none;
}

#app_document.dispo_4 #quickAccess_popup
{
    display: none;
}

#app_document.dispo_4 #popup
{
    display: none;
    
    position: absolute;
    top: 10vh;
    height: 25vh;
    width: 10vw;
    
    background-color: grey;
    
    border-radius: 3px;
    
    opacity: .9;
    
    box-shadow: 0 0 2px grey;
}

#app_document.dispo_4 .pos_edit_highlight{ left: 16vw; }
#app_document.dispo_4 .pos_edit_color{ left: 17.5vw; }

#app_document.dispo_4 #loaderArea
{
	bottom: 1vw;
	right: 1vw;
}