/*
* Commun
*/
#app_music #song_name
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    
    background-color: #d9d9d9;
}

#app_music #song_name p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    color: #5e6c9c;
    
    font-size: 1.7vh;
}

#app_music #player
{
    position: absolute;
    top: 5%;
    left: 0;
    height: 10%;
    width: 100%;
    
    background-color: #d9d9d9;
}

#app_music #player #basic_control
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
}

#app_music #player #basic_control p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    width: 33.33%;
    
    cursor: pointer;
}

#app_music #player #progress
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 15%;
    height: 100%;
    width: 60%;
}

#app_music #player #progress #content_progress
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: left;
}

#app_music #player #progress #content_progress span.full
{
    position: absolute;
    top: calc(50% - 0.5vh);
    
    height: 1vh;
    
    width: 100%;
    
    background-color: #adadad;
    
    border-radius: 3px;
}

#app_music #player #progress #content_progress span.full span.current
{
    position: absolute;
    top: calc(50% - 0.5vh);
    
    height: 1vh;
    
    width: 0%;
    
    background-color: #f44336;
    
    border-radius: 3px;
}

#app_music #player #time
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 75%;
    width: 10%;
    height: 100%;
}

#app_music #player #time p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_music #player #repeat_control
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 85%;
    width: 15%;
    height: 100%;
}

#app_music #player #repeat_control p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    width: 33.33%;
    
    cursor: pointer;
}

#app_music #player #repeat_control p .selected
{
    background-color: rgba(94, 108, 156, 0.3);
}

#app_music #content
{
    position: absolute;
    top: 15%;
    left: 0;
    height: 85%;
    width: 100%;
}

#app_music #content #playing #icon
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
}

#app_music #content #playing #icon p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    color: #bac9e0;
}

#app_music #content #playing #mark
{
    display: table;
    
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 5%;
}

#app_music #content #playing #mark p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_music #content #playing #instruments
{
    display: table;
    
    position: absolute;
    top: 35%;
    left: 0;
    height: 65%;
    width: 100%;
}

#app_music #content #playing #instruments p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_music #content #playing #instruments p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    border: 3px solid #656565;
    
    background-color: #ebebeb;
    
    cursor: pointer;
}

#app_music #content #playing #instruments p .unselected
{
    opacity: .15;
}

#app_music #content #playing #instruments p img:hover
{
    opacity: 1;
    
    border: 3px solid #5e6c9c;
    
    background-color: rgba(94, 108, 156, 0.3);
}

#app_music #content #list #title
{
    display: table;
    
    position: absolute;
    top: 0;
    height: 10%;
    
    border-bottom: 1px solid #cbcbcb;
}

#app_music #content #list #title p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: left;
}

#app_music #content #list #title .title
{    
    width: 25%;
}

#app_music #content #list #title .loader
{
    width: 50%;
}

#app_music #content #list #title .loader img
{
    height: 1.5vh;
}

#app_music #content #list #title .search
{
    text-align: right;
    
    width: 25%;
    
    cursor: pointer;
}

#app_music.dispo_1 #content #list
{
    height: 100%;
}

#app_music #content #list #content
{
    position: absolute;
    top: 12%;
    left: 0;
    height: 86%;
    width: 100%;
    
    overflow: auto;
}

#app_music #content #list #content #search_area
{
    z-index: 2;
    
    position: absolute;
    top: 0;
    left: 1vw;
    height: 60%;
    width: calc(100% - 2vw);
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    
    background-color: #e0e0e0;
}

#app_music #content #list #content #search_area #content
{
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#app_music #content #list #content #search_area #content .titles
{
    display: table;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#app_music #content #list #content #search_area #content .titles p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    width: 25%;
}

#app_music #content #list #content #search_area #content .titles p indic
{
    font-size: 1.1vh;
}

#app_music #content #list #content #search_area #content .cols
{
    display: table;
    
    position: absolute;
    top: 20%;
    left: 0;
    height: 80%;
    width: 100%;
}

#app_music #content #list #content #search_area #content .cols p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
    
    width: 25%;
}

#app_music #content #list #content #search_area #content .cols p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    width: 3vh;
    height: 3vh;
    
    cursor: pointer;
}

#app_music #content #list #content #search_area #content .cols p .unselected
{
    opacity: .25;
}

#app_music #content #list #content #search_area #content .cols p img:hover
{
    background-color: rgba(94, 108, 156, 0.3);
    
    opacity: 1;
    
    border-radius: 3px;
}

#app_music #content #list #content #search_area #content .cols p input
{
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    width: 8vw;
    height: 3vh;
    
    padding-left: 1vw;
}

#app_music #content #list #content #search_area #footer
{
    display: table;
    
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
    
    background-color: #bfbfbf;
}

#app_music #content #list #content #search_area #footer p
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: center;
}

#app_music #content #list #content #search_area #footer p input
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    border-radius: 3px;
    border: 3px solid black;
    
    background-color: transparent;
    color: black;
    
    width: 12vw;
    height: 3.5vh;
    
    cursor: pointer;
}
#app_music #content #list #content #search_area #footer p input:hover
{
    background-color: black;
    color: white;
}

#app_music #content #list #content #search_area .arrow
{
    position: fixed;
    
    height: 6vh;
}

#app_music #content #list #content #search_results
{
    display: none;
    
    position: absolute;
    top: 60%;
    left: 1vw;
    width: calc(100% - 2vw);
    height: 38%;

    background-color: #bfbfbf;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

#app_music #content #list #content #search_results #content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    overflow: auto;
}

#app_music #content #list #content #search_results #content .track
{
    display: table;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#app_music #content #list #content #search_results #content .track p
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;

    display: table-row;

    cursor: pointer;
}
#app_music #content #list #content #search_results #content .track p:hover
{
    background-color: rgba(94, 108, 156, 0.3);
}

#app_music #content #list #content #search_results #content .track p span
{
    display: table-cell;
    vertical-align: middle;

    text-align: center;

    height: 5vh;

    width: 16.66%;
}

#app_music #content #list #content #tracks
{
    display: table;
    
    position: absolute;
    top: 0;
}

#app_music #content #list #content #tracks .track:hover
{
    background-color: #bac9ee;
}

#app_music #content #list #content #tracks .track span
{
    display: table-cell;
    vertical-align: middle;
    
    text-align: left;
    
    width: 14.28%;
    
    height: 6vh;
}

#app_music #content #list #content #tracks .track span .status_track
{
    height: 1.5vh;
}


/*
* Disposition (1)
*/
#app_music.dispo_1 #player #basic_control p:hover img
{
    height: 4.5vh;
}

#app_music.dispo_1 #player #basic_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 3.5vh;
}

#app_music.dispo_1 #player #repeat_control p:hover img
{
    height: 4.5vh;
}

#app_music.dispo_1 #player #repeat_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 3.5vh;

    border-radius: 4.5vh;
}

#app_music.dispo_1 #content #playing
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    
    background-color: #989898;
}

#app_music.dispo_1 #content #playing #icon p
{
    font-size: 2vh;
}

#app_music.dispo_1 #content #playing #icon p img
{
    height: 8vh;
    
    padding: 1vh;
}

#app_music.dispo_1 #content #playing #mark p img
{
    height: 3vh;
    
    cursor: pointer;
}

#app_music.dispo_1 #content #playing #instruments p img
{
    height: 3vh;
    
    border-radius: 3vh;
    
    padding: .3vh;
}

#app_music.dispo_1 #content #list
{
    position: absolute;
    top: 0;
    left: 18%;
    width: 82%;
}

#app_music.dispo_1 #content #list #title
{
    left: 10%;
    width: 80%;
}

#app_music.dispo_1 #content #list #title .title
{
    font-size: 2.5vh;
}

#app_music.dispo_1 #content #list #content #search_area .arrow
{
    top: 33%;
    right: 12.5%;
}

#app_music.dispo_1 #content #list #content #tracks
{
    left: 10%;
    width: 80%;
}

#app_music.dispo_1 #content #list #content #tracks .track
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;

    display: table-row;

    cursor: pointer;

    font-size: 1.5vh;
}

#app_music.dispo_1 #content #list #content #tracks .track span img:not(.status_track)
{
    height: 3.5vh;
    width: 3.5vh;
}


/*
* Disposition (2_v)
*/
#app_music.dispo_2_v #player #basic_control p:hover img
{
    height: 3vh;
}

#app_music.dispo_2_v #player #basic_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 2.5vh;
}

#app_music.dispo_2_v #player #repeat_control p:hover img
{
    height: 3vh;
}

#app_music.dispo_2_v #player #repeat_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 2.5vh;

    border-radius: 2.5vh;
}

#app_music.dispo_2_v #content #playing
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    
    background-color: #989898;
}

#app_music.dispo_2_v #content #playing #icon p
{
    font-size: 1.8vh;
}

#app_music.dispo_2_v #content #playing #icon p img
{
    height: 6vh;
    
    padding: 1vh;
}

#app_music.dispo_2_v #content #playing #mark p img
{
    height: 2vh;
    
    cursor: pointer;
}

#app_music.dispo_2_v #content #playing #instruments p img
{
    height: 2.5vh;
    
    border-radius: 2.5vh;
    
    padding: .3vh;
}

#app_music.dispo_2_v #content #list
{
    position: absolute;
    top: 0;
    left: 25%;
    height: 85%;
    width: 75%;
}

#app_music.dispo_2_v #content #list #title
{
    left: 5%;
    width: 90%;
}

#app_music.dispo_2_v #content #list #title .title
{
    font-size: 1.8vh;
}

#app_music.dispo_2_v #content #list #content #search_area .arrow
{
    top: 30%;
    left: 43.5%;
}

#app_music.dispo_2_v #content #list #content #tracks
{
    left: 5%;
    width: 90%;
}

#app_music.dispo_2_v #content #list #content #tracks .track
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;

    display: table-row;

    cursor: pointer;

    font-size: 1.3vh;
}

#app_music.dispo_2_v #content #list #content #tracks .track span img:not(.status_track)
{
    height: 3vh;
    width: 3vh;
}


/*
* Disposition (2_h)
*/
#app_music.dispo_2_h #player #basic_control p:hover img
{
    height: 3vh;
}

#app_music.dispo_2_h #player #basic_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 2.5vh;
}

#app_music.dispo_2_h #player #repeat_control p:hover img
{
    height: 3vh;
}

#app_music.dispo_2_h #player #repeat_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 2.5vh;

    border-radius: 2.5vh;
}

#app_music.dispo_2_h #content #playing
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    
    background-color: #989898;
}

#app_music.dispo_2_h #content #playing #icon p
{
    font-size: 1.6vh;
}

#app_music.dispo_2_h #content #playing #icon p img
{
    height: 2.5vh;
    
    padding: .5vh;
}

#app_music.dispo_2_h #content #playing #mark p img
{
    height: 1.7vh;
    
    cursor: pointer;
}

#app_music.dispo_2_h #content #playing #instruments p img
{
    height: 1.7vh;
    
    border-radius: 2.5vh;
    
    padding: .3vh;
}

#app_music.dispo_2_h #content #list
{
    position: absolute;
    top: 0;
    left: 18%;
    height: 85%;
    width: 82%;
}

#app_music.dispo_2_h #content #list #title
{
    left: 10%;
    width: 80%;
}

#app_music.dispo_2_h #content #list #title .title
{
    font-size: 1.8vh;
}

#app_music.dispo_2_h #content #list #content #search_area .arrow
{
    top: 30%;
    left: 43.5%;
}

#app_music.dispo_2_h #content #list #content #tracks
{
    left: 10%;
    width: 80%;
}

#app_music.dispo_2_h #content #list #content #tracks .track
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;

    display: table-row;

    cursor: pointer;

    font-size: 1.3vh;
}

#app_music.dispo_2_h #content #list #content #tracks .track span img:not(.status_track)
{
    height: 3vh;
    width: 3vh;
}


/*
* Disposition (4)
*/
#app_music.dispo_4 #player #basic_control p:hover img
{
    height: 3vh;
}

#app_music.dispo_4 #player #basic_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 2.5vh;
}

#app_music.dispo_4 #player #repeat_control p:hover img
{
    height: 3vh;
}

#app_music.dispo_4 #player #repeat_control p img
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
    
    height: 2.5vh;

    border-radius: 2.5vh;
}

#app_music.dispo_4 #content #playing
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    
    background-color: #989898;
}

#app_music.dispo_4 #content #playing #icon p
{
    font-size: 1.5vh;
}

#app_music.dispo_4 #content #playing #icon p img
{
    height: 3vh;
    
    padding: .5vh;
}

#app_music.dispo_4 #content #playing #mark p img
{
    height: 1.7vh;
    
    cursor: pointer;
}

#app_music.dispo_4 #content #playing #instruments p img
{
    height: 1.7vh;
    
    border-radius: 2.5vh;
    
    padding: .3vh;
}

#app_music.dispo_4 #content #list
{
    position: absolute;
    top: 0;
    left: 25%;
    height: 85%;
    width: 75%;
}

#app_music.dispo_4 #content #list #title
{
    left: 5%;
    width: 90%;
}

#app_music.dispo_4 #content #list #title .title
{
    font-size: 1.8vh;
}

#app_music.dispo_4 #content #list #content #search_area .arrow
{
    top: 30%;
    left: 43.5%;
}

#app_music.dispo_4 #content #list #content #tracks
{
    left: 5%;
    width: 90%;
}

#app_music.dispo_4 #content #list #content #tracks .track
{
    transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;

    display: table-row;

    cursor: pointer;

    font-size: 1.3vh;
}

#app_music.dispo_4 #content #list #content #tracks .track span img:not(.status_track)
{
    height: 3vh;
    width: 3vh;
}